.col-pane {
  background: #fff;
  /* border: 1px solid; */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.app-table {
  font-size: 14px;
}

.app-table th {
  font-style: normal;
}
